/* html rules
--------------------*/

/* id rules
--------------------*/
/*
#sheet{
    position:relative;
	display: block;
    margin-left: auto;
    margin-right: auto; 
}
*/

/*
section{
	min-width: 950px;
	margin: 0 auto;
}
*/

body{
	font-family: sans-serif;
	font-size: 1.4em;
	font-weight: bold;
}

#character_sheet{
    width: 950px;
    height: auto;
	display: block;
}


/*
Character 1
*/

#name{
    position: absolute;
    top: 35px;
    left: 45px;
}

#profession{
    position: absolute;
    top: 140px;
    left: 550px;
	font-size: 0.9em;
}



#languageGroup{
    position: absolute;
    top: 705px;
    left: 70px;
    font-size: 0.75em;
    width: 300px;
}

#strength{
    position:absolute;
    top: 385px;
    left: 250px;
	font-size: 1.8em;
}

#strengthMod{
    position:absolute;
    top: 385px;
    left: 325px;
	font-size: 1.8em;
}


#agility{
    position:absolute;
    top: 430px;
    left: 250px;
	font-size: 1.8em;
}

#agilityMod{
    position:absolute;
    top: 430px;
    left: 325px;
	font-size: 1.8em;
}


#stamina{
    position:absolute;
    top: 475px;
    left: 250px;
	font-size: 1.8em;
}

#staminaMod{
    position:absolute;
    top: 475px;
    left: 325px;
	font-size: 1.8em;
}


#personality{
    position:absolute;
    top: 515px;
    left: 250px;
	font-size: 1.8em;
}

#personalityMod{
    position:absolute;
    top: 515px;
    left: 325px;
	font-size: 1.8em;
}


#intelligence{
    position:absolute;
    top: 560px;
    left: 250px;
	font-size: 1.8em;
}

#intelligenceMod{
    position:absolute;
    top: 560px;
    left: 325px;
	font-size: 1.8em;
}



#luck{
    position:absolute;
    top: 603px;
    left: 250px;
	font-size: 1.8em;
}

#luckMod{
    position:absolute;
    top: 603px;
    left: 325px;
	font-size: 1.8em;
}



#baseAC{
	position: absolute;
    top: 290px;
    left: 145px;
	font-size: 1.5em;
}


#level{
	position: absolute;
    top: 200px;
    left: 65px;
	font-size: 0.9em;
}


#title{
	position: absolute;
    top: 200px;
    left: 120px;
	font-size: 0.9em;
}



#birthAugur{
    position: absolute;
    top: 378px;
    left:  425px;
	width: 220px;
	font-size: 0.7em;
}



#hitPoints{
	position: absolute;
    top: 285px;
    left: 360px;
	font-size: 1.4em;
}


#actionDice{
    position: absolute;
    top: 200px;
    left: 590px;
	font-size: 1em;
}




#init{
    position: absolute;
    top: 474px;
    left:  515px;
	font-size: 1.5em;
}

#ref{
    position: absolute;
    top: 510px;
    left:  515px;
	font-size: 1.5em;
}

#fort{
    position: absolute;
    top: 474px;
    left:  690px;
	font-size: 1.5em;
}

#will{
    position: absolute;
    top: 510px;
    left:  690px;
	font-size: 1.5em;
}


#speed{
    position: absolute;
    top: 380px;
    left:  865px;
	font-size: 1.2em;
}



#fumbleDie{
    position: absolute;
    top: 420px;
    left: 860px;
	font-size: 0.9em;
}



#melee{
    position: absolute;
    top: 285px;
    left:  792px;
	font-size: 1.4em;
}


#range{
    position: absolute;
    top: 320px;
    left:  792px;
	font-size: 1.4em;
}


#meleeDamage{
    position: absolute;
    top: 285px;
    left:  865px;
	font-size: 1.4em;
}


#rangeDamage{
    position: absolute;
    top: 320px;
    left:  865px;
	font-size: 1.4em;
}


#critDie{
    position: absolute;
    top: 200px;
    left:  760px;
	font-size: 1em;
}

#critTable{
    position: absolute;
    top: 198px;
    left:  870px;
	font-family: serif;
	font-size: 1.1em;
}




#artifactCheck{
    position: absolute;
    top: 290px;
    left:  445px;
    font-size: 1.2em;
}

#maxTech{
    position: absolute;
    top: 300px;
    left:  605px;
    font-size: 1.6em;
}





#dieRollMethod{
    position: absolute;
    top: 1210px;
    left:  60px;
	font-size: 0.5em;
}


#wetwareLevel{
	position: absolute;
    top: 827px;
    left: 895px;
	font-size: 1.3em;
}
